@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

*{
    box-sizing: border-box;
}

//Const
.hidden{
    display: none !important;
}


// Colors 
$green: #6CB51E;
$white: #f5f5f5;
$black: #252525;
$grey: #7B7B7B;

//keyframes
@keyframes fadeUp {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY();
        opacity: 1;
    }
}

.callAnimation{
    animation: fadeUp 1s;
}
.byeAnimation{
    animation: fadeUp 600ms reverse;
}


h1{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    position: relative;
}

@media (min-width: 500px){
    nav{
        background-color: $black;
        color: $white;
        box-shadow: 0 2px 4px #0002;
    }
    .menuList{
        display: flex;
        flex-direction: row;
        li{
            margin: 0 10px;
        }
    }
}

nav{
    position: absolute;
    top: 0;
    
    display: flex;
    justify-content: space-between;
    
    color: $white;

    padding: 20px 30px;
    width: 100%;
   
    span{
        font-weight: 900;
        font-size: 20px;
        cursor: pointer;
    }
}

.menuFullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #222d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    span#close{
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 24px;
        cursor: pointer;
    }

    ul#menuList{
        display: flex;
        flex-direction: column;
        text-align: center;
        li{
            padding: 20px 0;
            font-weight: 900;
            font-size: 20px;
            &:hover{
                text-decoration: underline;
                cursor: poiner;
            }
        }
    }
}

.bgModal{
    height: 100vh;
    width: 100%;
    background-color: #0008;
    padding: 20px;
    
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    #modal{
        width: 100%;
        background-color: $white;
        border-radius: 4px;
        text-align: center;

        padding: 30px;


        h1{
            font-weight: 800;
            color: #f22;
        }
        p{
            font-size: 20px;
        }

        button{
            padding: 10px 20px;
            font-weight: bold;
            border-radius: 4px;
            border: none;
            
            cursor: pointer;

            transition: ease-in-out;
            transition-duration: 100ms;

            margin: 10px 5px;
        }
        .yes{
            background-color: #007DC1;
            color: $white;
            &:hover{
                box-shadow: -1px 1px 3px #0005;
            }
        }
        .no{
            background: none;
            color: $black;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    li{
        margin: 0 10px;
        a{
            text-decoration: none;
            color: $white;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

//LandingPage
.landingPage{
    height: 100vh;
    
    background: url('../resources/wallpaper.jpeg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: $white;
        font-size: 40px;
        font-weight: 700;
    }

    img{
        width: 200px;
    }
}
//Bout section
.boutSection{
    background-color: $white;
    text-align: center;
    min-height: 100vh;
    .boutHeader{
        padding: 0 30px;
        background: linear-gradient($green 50%, $white 0);
        
        h1{
            font-weight: 900;
            padding: 20px 0;
            color: #fff;
        }

        .imgHolder{
            width: 100%;
            height: 200px;
            background: url('../resources/bebidas.jpeg');
            background-size: contain;
            border: 5px solid #fff;
            border-radius: 4px;
            box-shadow: 0 2px 2px #0003;
        }
        
    }
    p{
        color: $grey;
        font-size: 18px;
        padding: 0 30px;
    }
    button{
        margin: 50px 0;
        border-radius: 4px;
        border: none;
        background-color: $green;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        padding: 10px 20px;
    }
}

footer{
    padding: 20px 30px;
    background-color: #222;
    color: #fff;
    position: relative;
    h1{
        font-size: 24px;
        margin: 0 0 20px 0;
    }
    p{
        margin: 5px 0;
    }
    div{
        font-weight: lighter;
        padding: 10px 0 0 0;
        font-size: 14px;
    }
}

.desktopButton{
    display: none;
}


@media (min-width: 650px){
    .boutSection{
        h1{
            font-size: 30px;
        }
        button{
            display: none !important;
        }
    }

    .boutHeader{
        background: linear-gradient($green 75%, $white 0) !important;
    }

    .boutContainer{
        display: flex;
        flex-direction: row;
        button{
            display: block !important;
            box-shadow: 0 2px 4px #0002;
            cursor: pointer;
            transition: ease-in-out;
            transition-duration: 200ms;
            color: $green;
            background-color: #fff;
            &:hover{
                box-shadow: 0 3px 4px #0003;
            }
        }
        
        .imgHolder{
            max-width: 400px;
            min-height: 300px;
        }
        p{
            color: #fff;
            text-align: left;
        }
    }
}